/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}

/*aside*/

aside {
    width: 10vw;
    height: 90vh;
    color: #fff;
    background-color: #000;
    justify-content: space-between;
}

aside img {
    width: 80%;
    padding: 2px;
}

aside .logo img {
    padding: 5px;
    width: 90%;
}

aside a {
    text-decoration: none;
}

aside span {
    font-size: 0.6rem;
    font-weight: 600;
    color: #aeaeae;
}

#playlist {
    padding: 10px 0;
}

.fa-square-plus {
    font-size: 2rem;
}

#list {
    font-size: 1rem;
    line-height: 2rem;
}

aside li {
    line-height: 1.8rem;
}

#playlist li span {
    font-weight: 400;
    font-size: 1rem;
}

#profile img {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #aeaeae;
}

aside hr {
    background-color: #fff;
    width: 12vw;
    margin: 10px 0;
    align-self: flex-start;
}

.fffbold {
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
}



/*/aside*/

/*container-body*/

.container-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    background-color: #2e324d;
    overflow-y: scroll;
}

/*.container-body::-webkit-scrollbar {
    display: none;
}*/

/*header*/

header {
    flex-grow: 1;
}

header div {
    flex-grow: 1;
    background-color: #000000cc;
    align-items: flex-end;
    padding: 10px 20px;
}

header div a {
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #fff;
    text-decoration: none;
    text-align: right;

}

header div a:hover {
    transform: scale(1.2);
}

/*/header*/

/*main*/

main {
    height: 80vh;
    flex-grow: 1;
}

.menu {
    justify-content: space-around;
    padding: 20px;
}

.menu h4 {
    color: #aeaeae;
}

.menu h4:hover {
    color: #fff;
    border-bottom-width: 10px;
    border-bottom: 2px solid #52ff2f;
}

/*played*/

.played {
    padding-bottom: 20px;
}

.played h1 {
    font-weight: 900;
    color: #fff;
    padding: 10px;
}

.played p {
    font-weight: 600;
    font-size: 0.6rem;
    color: #aeaeae;
    padding: 0 10px;
}

.played .card {
    width: calc(70vw / 2);
    text-align: center;
    position: relative;
}

.played .card img:hover {
    opacity: 0.6;
}

.played .fa-circle-play {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    opacity: 0;
}

.played .fa-circle-play:hover {
    color: #fff;
    opacity: 1;
}

.played .card img {
    width: 100%;
}

.played .pop img {
    border-radius: 50%;
}

.played-card .column {
    padding: 5px;
}

.played-card h5 {
    color: #fff;
}

.played-card p {
    font-weight: 600;
    font-size: 0.6rem;
    color: #aeaeae;
}

/*/played*/
/*/main*/
/*/container-body*/

/*footer*/

footer {
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    z-index: 999;
    background-color: #303030;
    align-items: center;
}

.foot-container {
    width: 100vw;
    align-content: center;
}

#foot .row {
    flex-wrap: nowrap;
}

.foot-container .column:nth-of-type(2) {
    align-items: center;
    justify-content: center;
}

.foot-container img {
    height: 5vh;
}

#foot .card {
    width: calc(100%/3);
}

.album {
    padding: 5px;
    align-items: center;
}

.album h5 {
    color: #fff;
}

.album p {
    font-size: 0.66rem;
    font-weight: 600;
    color: #aeaeae;
}

.album p:hover {
    color: #fff;
    text-decoration: underline;
}

#heart i {
    padding: 0;
    line-height: 1.5rem;
    color: #aeaeae;
}

#heart i:hover {
    color: #fff;
}

.music-icons i {
    padding: 10px;
    color: #fff;
    align-self: center;

}

.fa-circle-play {
    font-size: 2rem;
}

.fa-circle-play:hover {
    transform: scale(1.2);
}

hr {
    height: 0.4vh;
    border-radius: 25px;
    align-self: center;
}

.time-line .circle {
    width: 0.1vw;
    height: 0.1vh;
    opacity: 0;
    padding: 0;
}

.time-line .circle:hover {
    padding: 0;
    opacity: 1;
    width: 2vw;
    height: 2vh;
    border: 1px solid;
    border-radius: 50%;
    background-color: #fff;
}

.time-line .hr-up {
    width: 7vw;
    background-color: #aeaeae;
}

.time-line .hr-up:hover {
    background-color: #52ff2f;
}

.time-line .hr-down {
    width: 15vw;
    background-color: #fff;
}

.time-line span {
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

.foot-container .row:last-child {
    align-items: center;
    justify-content: flex-end;

}

.foot-container .row:last-child i {
    padding: 10px;
    color: #fff;
    justify-content: center;
}

.audio .circle {
    width: 0.1vw;
    height: 0.1vh;
    opacity: 0;
    padding: 0;
}

.audio .circle:hover {
    padding: 0;
    opacity: 1;
    width: 2vw;
    height: 2vh;
    border: 1px solid;
    border-radius: 50%;
    background-color: #fff;
}

.audio .hr-up {
    width: 3vw;
    background-color: #aeaeae;
}

.audio .hr-up:hover {
    background-color: #52ff2f;
}

.audio .hr-down {
    width: 10vw;
    background-color: #fff;
}



/*/footer*/