@media screen and (max-width:468px) {

    /*aside*/
    #logo-media {
        display: none;
    }

    .playlist {
        display: none;
    }

    /*/aside*/

    /*container-body*/

    /*footer*/

    /*/footer*/
    /*/container-body*/
}


@media screen and (min-width:468px) {

    header div {
        width: 80vw;
    }

    /*aside*/
    aside {
        width: 20vw;
    }

    aside .logo {
        display: none;
    }

    #logo-media img {
        width: 70%;
    }

    aside img {
        width: 30%;
    }

    /*aside*/

    /*container-body*/
    .container-body {
        width: 80vw;
    }

    /*footer*/

    .foot-container {
        justify-content: space-between;
    }

    /*/footer*/
    /*/container-body*/
}