@media screen and (min-width:768px) {

    /*aside*/
    aside {
        width: 20vw;
    }

    aside .logo {
        display: none;
    }

    #logo-media img {
        width: 70%;
    }

    aside img {
        width: 20%;
    }

    /*aside*/

    .played .card {
        width: calc(70vw / 4);
    }
}