/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}

/*aside*/

aside {
    width: 10vw;
    height: 90vh;
    color: #fff;
    background-color: #000;
    justify-content: space-between;
}

aside img {
    width: 80%;
    padding: 2px;
}

aside .logo img {
    padding: 5px;
    width: 90%;
}



#profile img {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #aeaeae;
}



/*/aside*/

/*container-body*/

.container-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    background-color: #2e324d;
    overflow-y: scroll;
}

/*.container-body::-webkit-scrollbar {
    display: none;
}*/

/*header*/

header {
    flex-grow: 1;
}

header div {
    flex-grow: 1;
    background-color: #000000cc;
    align-items: flex-end;
    padding: 10px;
}

header div a {
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #fff;
    text-decoration: none;
    text-align: right;
}

/*/header*/

/*main*/

main {
    height: 80vh;
    flex-grow: 1;
}

.menu {
    justify-content: space-around;
    padding: 20px;
}

.menu h4 {
    color: #aeaeae;
}

#played h1 {
    font-weight: 900;
    color: #fff;
    padding: 10px;
}

#played .card {
    width: calc(70vw / 2);
    text-align: center;
}

#played .card img {
    width: 100%;
}

.played-card {
    justify-content: space-evenly;
}

.played-card h5 {
    color: #fff;
}

.played-card p {
    font-weight: 600;
    font-size: 0.6rem;
    color: #aeaeae;
}

/*/main*/
/*/container-body*/

/*footer*/

footer {
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    z-index: 999;
    background-color: #303030;
}

/*/footer*/