@media screen and (max-width:468px) {

    /*aside*/
    aside #logo-media,
    span {
        display: none;
    }

    aside hr {
        display: none;
    }

    #playlist {
        display: none;
    }

    /*/aside*/
}


@media screen and (min-width:468px) {

    header div {
        width: 80vw;
    }

    /*aside*/
    aside {
        width: 20vw;
    }

    aside .logo {
        display: none;
    }

    #logo-media img {
        width: 70%;
    }

    aside img {
        width: 30%;
    }

    aside li:hover,
    span:hover {
        color: #fff;
    }

    /*aside*/

    /*container-body*/
    .container-body {
        width: 80vw;
    }

}